/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-May-2018, 9:11:38 PM
    Author     : Yang
*/

img{
          width:100%;
      }
    html {
      font-family:'helvetica neue';
      text-align: center;
      font-size: 10px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display:flex;
      flex:1;
      min-height: 100vh;
      align-items: center;
    }

    .clock {
      width: 30rem;
      height: 30rem;
      border:20px solid white;
      border-radius:50%;
      margin:50px auto;
      position: relative;
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width:50%;
      height:6px;
      background:black;
      position: absolute;
      top:50%;
      transform-origin:100%;
      transform: rotate(60deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.99, 0.96, 0.01, 0.01);
    }
    .secHand {
        border-radius:15px;
      left:10%;
      width:120px;
      height:6px;
      background:red;
      position: absolute;
      top:49%;
      transform-origin:100%;
      transform: rotate(60deg);
      transition-timing-function: cubic-bezier(0.99, 0.96, 0.01, 0.01);
    }
    .minHand {
      border-radius:15px;
      left:20%;
      width:90px;
      height:6px;
      background:black;
      position: absolute;
      top:49%;
      transform-origin:100%;
      transform: rotate(60deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.99, 0.96, 0.01, 0.01);
    }
    .hourHand {
        border-radius:15px;
      left:26%;
      width:75px;
      height:6px;
      background:black;
      position: absolute;
      top:49%;
      transform-origin:100%;
      transform: rotate(60deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.99, 0.96, 0.01, 0.01);
    }